.button {
    background-color: #767676;
    border: none;
    border-radius: 999px;
    font : {
        family: 'Nunito';
        weight: bold;
    }
    color: #fff;
    height: 50px;
    text-align: center;
    min-width: 200px;
}