/** Flex: 1 Style **/
.flex-1 {
    flex: 1;
}

.flex-50 {
    flex: 50%;
}

/** Line Heights Begin **/
.lh-2 {
    line-height: 1.5em;
}

.lh-3 {
    line-height: 1.7em;
}

.lh-4 {
    line-height: 1.9em;
}
/** Line Heights End **/


/** Viewport Height Begin**/
.vh-100 {
    height: 100vh;
}