<div class="login-form_wrapper">
    <form id="login-form" [formGroup]="login_form">
        <div class="form-control mb-4">
            <label for="username">Username*</label>
            <input class="form-field" type="text" name="username" placeholder="Enter your Username" formControlName="username">
        </div>
        
        <div class="form-control mb-5">
            <label for="password">Password*</label>
            <input class="form-field" type="password" name="password" placeholder="Enter your Password" formControlName="password">
        </div>

        <button class="button primary w-100">Login</button>
    </form>
</div>